<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Muhammed Nur Şehebi</title>

	<!-- Bootstrap -->
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
		integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

	<!-- Google Fonts -->
	<link
		href="https://fonts.googleapis.com/css2?family=Crimson+Text:ital@0;1&family=Source+Sans+Pro:ital,wght@0,300;0,400;1,300;1,400&display=swap"
		rel="stylesheet">

	<!-- Font Awesome -->
	<script src="https://kit.fontawesome.com/89d281c126.js" crossorigin="anonymous"></script>

	<!-- My Style Sheet -->
	<link rel="stylesheet" href="/css/styles.css">
</head>

<body class="background-image">

	<!-- header section -->

	<section id="header" class="brawn-section">
		<header class="masthead">
			<!-- container-fluid makes the content responsive and take the width of the screen -->
			<!-- h-100 takes 100% of the parent hight = height: 100%!important;-->
			<div class="container-fluid h-100">
				<!-- align-items-center will align the items in the middle of vertical axis -->
				<div class="row h-100 align-items-center">
					<!-- text-center will center the text of the tag in the middle of horizontal axis  -->
					<div class="col-12">
						<img class="title-icon" src="images/title-icon.png">
						<h1 class="h1-my-name italic-style">Muhammed Nur Şehebi</h1>
						<p>A COMPUTER SCIENTIST IN PROGRESS</p>
					</div>
				</div>
			</div>
		</header>
		<nav class="navbar navbar-expand-md navbar-custom navbar-dark">
			<!-- this is for making the toggler on the right-->
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
				aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarNav">
				<ul class="navbar-nav mx-auto">
					<li class="nav-item">
						<a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="/about-me">About Me</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="/projects">Projects</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="contact-me">Contact Me</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="blog">Blog</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="cv">CV</a>
					</li>
				</ul>
			</div>
		</nav>
	</section>