<%- include('partials/header'); -%>

<section id="about-me-intro">
	<div class="container-fluid">
		<div class="row">
			<div class="col-lg-6 column-right">
				<h3>ABOUT ME</h3>
				<hr class="short-hr">
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
					labore et dolore
					magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip
					ex ea. a story and let your users know a little more about you.
				</p>
				<button type="button" class="btn btn-outline-dark px-4 py-2 mt-2 btn-style"
					onclick=" window.open('/cv','_blank')">SEE Full CV</button>
			</div>
			<div class="col-lg-6 column-left">
				<img class="about-computer-image" src="images/computer-image.jpg">
			</div>
		</div>
	</div>
</section>

<section id="edu" class="brawn-section section-margin">
	<div class="edu-container container-fluid">
		<div class="row">
			<div class="edu-box col-lg-6">
				<div class="col-lg-12">
					<h3>Skills</h3>
					<hr class="short-hr edu-hr">
				</div>
				<div class="col-lg-12">
					<h5 class="serif">Programing</h5>
					<p>Java, Kotlin, C, C++, HTML, CSS, JavaScript, Python, SQL, NoSQL and more. </p>
					<hr class="white-hr">
				</div>
				<div class="col-lg-12">
					<h5 class="serif">Web Development</h5>
					<p>Node.js, Express.js, jQuery, Bootstrap, EJS, RESTful Web Services and more. </p>
					<hr class="white-hr">
				</div>
				<div class="col-lg-12">
					<h5 class="serif">Android Development</h5>
					<p>Android development with Kotlin and Java. </p>
					<hr class="white-hr">
				</div>
				<div class="col-lg-12">
					<h5 class="serif">Languages</h5>
					<p>English (C1), German (C2 – DSH III), Turkish (B2), Arabic (Native Speaker). </p>
				</div>
			</div>
			<div class="edu-box col-lg-6">
				<div class="col-lg-12">
					<h3>Education</h3>
					<hr class="short-hr edu-hr">
				</div>
				<div class="col-lg-12">
					<p class="edu-p">2018 - 2022</p>
					<h5 class="serif">Turkish-German University</h5>
					<p>Bachelor of Engineering - BE, Computer, Current grade 3.91/4.00</p>
					<hr class="white-hr">
				</div>
				<div class="col-lg-12">
					<p class="edu-p">2018 - 2019</p>
					<h5 class="serif">Kiron</h5>
					<p>Bachelor of Science - BS, Computer Science | Online Education
					</p>
				</div>
			</div>
		</div>
	</div>
</section>

<%- include('partials/footer'); -%>