<%- include('partials/header'); -%>

<section id="cards-section">
	<div class="container">
		<h3>MY BLOG</h3>
		<hr class="short-hr">
		<div class="cards-container">
			<div class="row">
				<div class="col-lg-6 low-card-padding">
					<div class="card">


						<a href="/post" class="deck-title-link"><img class="card-img-top"
								src="images/blog-images/place-holder (1).jpg" alt="Card image cap"></a>



						<div class="card-body">
							<h5 class="card-title"><a href="/post" class="deck-title-link">Card title</a></h5>
						</div>
						<div class="card-footer">
							<hr>
							<small class="text-muted">Last updated 3 mins ago</small>
						</div>
					</div>
				</div>
				<div class="col-lg-6 low-card-padding">
					<div class="card">
						<a href="/post" class="deck-title-link"><img class="card-img-top"
							src="images/blog-images/place-holder (1).jpg" alt="Card image cap"></a>
						<div class="card-body">
							<h5 class="card-title"><a href="/post" class="deck-title-link">Card title</a></h5>
							</p>
						</div>
						<div class="card-footer">
							<hr>
							<small class="text-muted">Last updated 3 mins ago</small>
						</div>
					</div>
				</div>
				<div class="col-lg-6 low-card-padding">
					<div class="card">
						<a href="/post" class="deck-title-link"><img class="card-img-top"
							src="images/blog-images/place-holder (1).jpg" alt="Card image cap"></a>
						<div class="card-body">
							<h5 class="card-title"><a href="/post" class="deck-title-link">Card title</a></h5>
						</div>
						<div class="card-footer">
							<hr>
							<small class="text-muted">Last updated 3 mins ago</small>
						</div>
					</div>
				</div>
				<div class="col-lg-6 low-card-padding">
					<div class="card">
						<a href="/post" class="deck-title-link"><img class="card-img-top"
							src="images/blog-images/place-holder (1).jpg" alt="Card image cap"></a>
						<div class="card-body">
							<h5 class="card-title"><a href="/post" class="deck-title-link">Card title</a></h5>
						</div>
						<div class="card-footer">
							<hr>
							<small class="text-muted">Last updated 3 mins ago</small>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<%- include('partials/footer'); -%>