<%- include('partials/header'); -%>
<section id="contact-me">
	<div class="container-fluid">
		<div class="row">
			<div class="col-lg-6 column-right">
				<h3>CONTACT ME</h3>
				<hr class="short-hr">
				<p>Please if you have any questions or just want to say hello, feel free to send me a message.</p>
			</div>
		</div>
	</div>
</section>

<section id="contact-me">
	<div class="container-fluid">
		<div class="row">
			<div class="col-lg-6 column-right">
				<h5 class="serif bold-h5">Email</h5>
				<p>muhammednurpro@gmail.com</p>
				<br>
				<h5 class="serif bold-h5">LinkedIn</h5>
				<p><a href="https://www.linkedin.com/in/muhammednur-sehebi/">Muhammednur Şehebi</a></p>
				<br>
				<h5 class="serif bold-h5">Github</h5>
				<p><a href="https://github.com/Nour0700">Nour0700</a> </p>
			</div>
			<div class="col-lg-6 column-right">
				<form action="/contact-me" method="post" class="needs-validation" novalidate>
					<div class="form-group">
						<input name="name" type="text" class="form-control" id="contact-me-form-name" aria-describedby="emailHelp"
							placeholder="Your Name" required>
					</div>
					<div class="form-group">
						<input name="email" type="email" class="form-control" id="contact-me-form-email" placeholder="Your Email"
							required>
					</div>
					<div class="form-group">
						<input name="subject" type="text" class="form-control" id="contact-me-form-email" placeholder="The Subject"
							required>
					</div>
					<div class="form-group">
						<textarea name="message" class="form-control" id="contact-me-form-message" rows="3"
							placeholder="The Message" required></textarea>
					</div>
					<div class="form-group text-right">
						<button type="submit" 
							class="btn btn-light btn-sm px-5 mt-2 btn-style">Send</button>
					</div>

				</form>
			</div>
		</div>
	</div>
</section>

<%- include('partials/footer'); -%>