<%- include('partials/header'); -%>
<section id="contact-me">
	<div class="container-fluid">
		<div class="row">
			<div class="col-lg-6 column-right">
				<h3>CONTACT ME</h3>
				<hr class="short-hr">
				<p>Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet.</p>
			</div>
		</div>
	</div>
</section>

<section id="contact-me">
	<div class="container-fluid">
		<div class="row">
			<div class="col-lg-6 column-right">
				<h5 class="serif bold-h5">Email</h5>
				<p>muhammednurpro@gmail.com</p>
				<br>
				<h5 class="serif bold-h5">LinkedIn</h5>
				<p><a href="https://www.linkedin.com/in/muhammednur-sehebi/">Muhammednur Şehebi</a></p>
				<br>
				<h5 class="serif bold-h5">Github</h5>
				<p><a href="https://github.com/Nour0700">Nour0700</a> </p>
			</div>
			<div class="col-lg-6 column-right">
				<form action=mailto:muhammednurpro@gmail.com class="needs-validation">
					<div class="form-group">
						<input type="text" class="form-control" id="contact-me-form-name" aria-describedby="emailHelp"
							placeholder="Name" required>
					</div>
					<div class="form-group">
						<input type="email" class="form-control" id="contact-me-form-email" placeholder="Email" required>
					</div>
					<div class="form-group">
						<input type="text" class="form-control" id="contact-me-form-email" placeholder="Subject" required>
					</div>
					<div class="form-group">
						<textarea class="form-control" id="contact-me-form-message" rows="3"
							placeholder="Message"></textarea >
					</div>
					<div class="form-group text-right">
						<button type="button italic-style"
								class="btn btn-light btn-sm px-5 mt-2 btn-style">Send</button>
					</div>

				</form>
			</div>
		</div>
	</div>
</section>

<%- include('partials/footer'); -%>