<%- include('partials/header'); -%>

<button type="button" class="download-cv-button btn btn-outline-dark px-4 py-2 mt-2 btn-style "
	onclick=" window.open('https://docs.google.com/document/d/1m58u9CHIUf34C48bAykfLTG1fyWUDW2Y7hk3ox-WX30/edit?usp=sharing','_blank')">DWONLOAD</button>

<div class="cv-container">

	<iframe
		src="https://docs.google.com/document/d/e/2PACX-1vRtzu1U8uBArYcRojzeDM8ZQTt3-kEW33dKwPtqEGnBYeWIMrSGDRz_KVy3RKf7rrjjp4s0wI1vVxwh/pub?embedded=true"
		class="cv-iframe">
		<a target="_parent" href="http://url.org">https://github.com/Nour0700</a>

	</iframe>

</div>


<%- include('partials/footer'); -%>