<%- include('partials/header'); -%>
	<!-- intro section -->
	<section id="intro">
		<div class="container">
			<div class="row">
				<div class="col-lg-6 column-left">
					<img class="personal-image" src="images/personal-image.png">
				</div>
				<div class="col-lg-5 column-right">
					<h3>MUHAMMED NUR ŞEHEBİ</h3>
					<hr class="short-hr">
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
						labore et dolore
						magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip
						ex ea. a story and let your users know a little more about you.
					</p>
					<button type="button" class="btn btn-outline-dark px-4 py-2 mt-2 btn-style">Read More</button>
				</div>
			</div>
		</div>

	</section>

	<!-- Projects Section -->

	<section id="Projects" class="brawn-section section-margin">
		<h2 class="header-padding">Projects</h2>
		<div class="projects-container container-fluid">
			<div class="row">
				<div class="project-box col-lg-4 col-md-6">
					<div class="row">
						<div class="col-lg-12">
							<h3 class="italic-style">Hardcoded Personal Website</h3>
							<p>Sep 2020</p>
						</div>
						<div class="col-lg-12">
							<button type="button italic-style"
								class="btn btn-outline-dark px-4 py-2 mt-2 btn-style">DETAILS</button>
						</div>
					</div>
				</div>
				<div class="project-box col-lg-4 col-md-6">
					<div class="row">
						<div class="col-lg-12">
							<h3 class="italic-style">Android App Cook Reminder</h3>
							<p>Aug 2020</p>
						</div>
						<div class="col-lg-12">
							<button type="button italic-style"
								class="btn btn-outline-dark px-4 py-2 mt-2 btn-style">DETAILS</button>
						</div>
					</div>
				</div>
				<div class="project-box col-lg-4">
					<div class="row">
						<div class="col-lg-12">
							<h3 class="italic-style">Desktop App Report Writer</h3>
							<p>Jan 2020 - Jul 2020</p>
						</div>
						<div class="col-lg-12">
							<button type="button italic-style"
								class="btn btn-outline-dark px-4 py-2 mt-2 btn-style">DETAILS</button>
						</div>
					</div>
				</div>


			</div>


		</div>
	</section>

	<!-- Blog Section -->

	<section id="blog" class="gray-section section-margin">
		<h2 class="header-padding">Articles</h2>
		<hr class="short-hr">
		<div class="container">

			<div class="card-deck">
				<div class="card">
					<a href=""><img class="card-img-top" src="images/blog-images/place-holder (1).jpg"
							alt="Card image cap"></a>

					<div class="card-body">
						<h5 class="card-title"><a href="#">How to be a good programmer</a></h5>
					</div>
					<div class="card-footer">
						<hr>
						<small class="text-muted">Last updated 3 mins ago</small>
					</div>
				</div>
				<div class="card">
					<a href="#"><img class="card-img-top" src="images/blog-images/place-holder (2).jpg"
							alt="Card image cap"></a>

					<div class="card-body">
						<h5 class="card-title"><a href="#">Study tips and tricks</a></h5>
					</div>
					<div class="card-footer">
						<hr>
						<small class="text-muted">Last updated 3 mins ago</small>
					</div>
				</div>
				<div class="card">
					<a href=""><img class="card-img-top" src="images/blog-images/place-holder (3).jpg"
							alt="Card image cap"></a>
					<div class="card-body">
						<h5 class="card-title"><a href="#">How to read more</a></h5>

					</div>
					<div class="card-footer">
						<hr>
						<small class="text-muted">Last updated 3 mins ago</small>
					</div>
				</div>
			</div>
		</div>
	</section>
<%- include('partials/footer'); -%>












