<%- include('partials/header'); -%>
<!-- Page Content -->
<div class="container">
	<div class="card border-0 shadow my-5 mx-auto">
		<div class="card-body p-5">
			<div class="text-center">
				<img class="card-img-top post-image"src="images/computer-image.jpg" alt="">
			</div>
			<h1 class="font-weight-light">Fixed Full Page Background Image</h1>
			<p class="lead">In this snippet, the background image is fixed to the body element. Content on the page will
				scroll, but the image will remain in a fixed position!</p>
			
		</div>
	</div>
</div>
<%- include('partials/footer'); -%>